# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env*

# Django

db.sqlite3
media/

# Temp files
*.tmp
*.swp

# Local builds
build/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
.env
